name: delete old workflows

on:
  schedule:
    - cron: 0 0 * * 6

  workflow_dispatch:
    inputs:
      releases_keep_latest:
        description: '保留最新Releases数量'
        required: true
        default: '10'
        type: choice
        options: [30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

      workflows_keep_day:
        description: '保留Workflows记录天数'
        required: true
        default: '0'
        type: choice
        options: [30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Delete releases and workflows runs
        uses: ophub/delete-releases-workflows@main
        with:
          delete_releases: true
          delete_tags: true
          releases_keep_latest: ${{inputs.releases_keep_latest || '10'}}
          releases_keep_keyword: 'toolchain'
          delete_workflows: true
          workflows_keep_day: ${{inputs.workflows_keep_day || '30'}}
          out_log: true
          gh_token: ${{secrets.GITHUB_TOKEN}}
